#output {
border-radius: 2em;
background-color: rgb(255, 202, 202);
width: 50%;
height: auto;
overflow: auto;
margin: auto;
font-size: .5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}